<!DOCTYPE html>
<html>

<head>
    <style>

        body {
            background : url({{url_for('static', filename='mastermind.jpg') }});
        background-size : cover;
            text-align : center;
            background-repeat: no-repeat;
            
        }


        .titre {
            font-size: 60px;
            font-family: Arial;
        }

        .btn {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(250, 180, 0, 1);
            background-image: linear-gradient(to top left,
                    rgba(0, 0, 0, .2),
                    rgba(0, 0, 0, .2) 30%,
                    rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
        }

        .container
        {
            border : 1px solid black;
            border-radius: 5px;
            display:inline-block;
            text-align: center;
            margin-top : 300px;
            padding:10px;
            background-color: rgba(101, 255, 196, 0.384);
        }
        .contentText
        {
            font-size: 2rem;
        }


.footer {
                border : 1px solid black;
            border-radius: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(101, 255, 196, 0.384);;
  color: white;
  text-align: center;
}

    </style>

    <meta charset="utf-8">
    <title>Hey</title>



</head>

<body>
        <div class="container" >
            <h1 class="titre">BIENVENUE {{name}} ! </h1>
            <p class="contentText">
                <span>{{tempsm}}</span><br />
                <span>VOTRE SCORE DU JOUR EST : {{scoreJ}}</span>
            </p>
            <button onclick="window.location.href = '{{url_for('mastermind')}}';" class="btn" type="button">
                Jouer
            </button>
            <button onclick="window.location.href = '{{url_for('replays')}}'; " class="btn" type="button">
                Vos parties
            </button>
            <button onclick="window.location.href = '{{url_for('classement',niveau='daily')}}'" class="btn" type="button">
                Classement
            </button>
            <button onclick="window.location.href = '{{url_for('logout')}}'; " class="btn" type="button">
                Se deconnecter
            </button>
        </div>


        <div class="footer">
            <h3><a href="https://www.youtube.com/watch?v=tNdiA-5An9U"> Vidéo de présentation</a></h3>
          </div>

</body>


</html>