<!DOCTYPE html>
<html>

<head>
    <style>

        .titre {
            font-size: 60px;
            font-family: Arial;
            text-align:center;
        }

        .container
        {
            margin-top:300px;
            background-color: rgba(231, 152, 255, 0.185);
            text-align: center;
            padding:10px;
        }
        .btn {
            margin-left:40px;
            margin-right : 40px;
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            text-align: center;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(250, 180, 0, 1);
            background-image: linear-gradient(to top left,
                    rgba(0, 0, 0, .2),
                    rgba(0, 0, 0, .2) 30%,
                    rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
        }
        body
        {
            background : url({{url_for('static', filename='mastermind.jpg')}});
            background-size :  cover;
        }
    </style>

    <meta charset="utf-8">
    <title>Hey</title>



</head>

<body>

    <div class="container">
        <h1 class="titre">BIENVENUE ! </h1>


            <button onclick="window.location.href = '{{url_for('login')}}';" class="btn" type="button">
                Se connecter
            </button>

            <button onclick="window.location.href = '{{url_for('inscription')}}'; " class="btn"
                type="button">
                S'inscire
            </button>
    </div>

</body>

</html>