<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

        <meta charset="utf-8">
        <title>classement</title>
        
        
        
    </head>


    <body>



{{content}}


<button onclick="window.location.href = '{{url_for('home')}}';" type="button">
    Retour à l'acceuil
</button>
    

        
      

    </body>
</html>

<script type="text/javascript">
$('#list_scores').on('change', function(){
   window.location = $(this).val();
});




    </script>