<!DOCTYPE html>
<html>

<head>
    <style>
        body
        {
            background: no-repeat url( {{url_for('static', filename='mastermind.jpg')}} );
            background-size:cover;
        }
        .container
        {
            margin : 0 auto;
            margin-top:12%;
            width:50%;
    
        }
        table
        {
            margin : 0 auto;
            padding:20px;
            border-radius:50px;
            background-color:rgba(0, 0, 0, 0.589);
        }
        .palette
        {
            border-radius:50px;
            background-color:rgba(0, 0, 0, 0.589);
            display:flex;
            justify-content: center;
        }
        .case
        {
            border : 1px solid black;
            padding : 1em;
            border-radius:50px;
            margin : 5px;
            background: rgba(128, 128, 128, 0.582);

        }
        .red
        {
            background-color:red;
        }
        .green
        {
            background-color:green;
        }
        .bleu
        {
            background-color:blue;

        }
        .black
        {
            background-color:black;

        }
        .white
        {
            background-color:white;

        }
        .pink
        {
            background-color:pink;

        }
        .brown
        {
            background-color:brown;

        }
        .purple
        {
            background-color:purple;
            
        }
    </style>

    <meta charset="utf-8">
    <title>Hey</title>


    <script
    src="https://code.jquery.com/jquery-3.5.0.min.js"
    integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
    crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <table>
            {% for  i in range(0,tailley) %}
            <tr>
                {% for j in range(0,taillex) %}
                <td>  
                    <div class="case x{{i}} y{{j}}">
                        
                    </div>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <div class="palette">
            {% for coul in listescouleurs %}
            <div class="case {{ coul }};">
                
            </div>
            {% endfor %}
        </div>
    </div>
    

    <script type="text/javascript">
        let etape = 0
        let paletteDOM = $(".palette").on('click','> *', function() 
        {
            console.log(this)

        })

    </script>
</body>

</html>