<!DOCTYPE html>
<html>
<head>
	<title>Mastermind</title>

	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script> 

</head>
<body>

	{{content}}


<div id="colors"></div>
<br>
<div id="gameboard"></div>
<br>

	<div id ="soluce"></div>
	<br>

	<div id ="score"></div>

<br>
<div id ="check"></div>
<br>

<div id="move">

	<button onclick="window.location.href = '{{url_for('home')}}';" type="button">
		Retour à l'acceuil
	</button>

</div>







</body>
</html>



	<style type="text/css">
	* {font-family: Arial, sans-serif; font-size: 14px; font-weight:normal; font-style:normal;}
	.color,.guessButton,.solution{display:inline-block; width:20px; height:20px; border-radius:10px; border:solid 1px #888;}
	.status-1{background-color:lightgreen;}
	.status-0{background-color:red;}

	table {border-collapse:collapse; background-color:lightgray;}
table td {border:solid 1px #888; padding:4px; text-align:center;}



</style>