<!DOCTYPE html>
<html>

<head>
    <style>
        

        .titre {
            font-size: 50px;
        }



        .btn {
            border: 0;
            line-height: 2.5;
            padding: 0 20px;
            font-size: 1rem;
            color: #fff;
            text-shadow: 1px 1px 1px #000;
            border-radius: 10px;
            background-color: rgba(250, 180, 0, 1);
            background-image: linear-gradient(to top left,
                    rgba(0, 0, 0, .2),
                    rgba(0, 0, 0, .2) 30%,
                    rgba(0, 0, 0, 0));
            box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
                margin-top: 5px;
        }


        .form {
            display:flex;
            flex-direction: column;
            border : 1px solid black;
            padding:5px;
            border-radius: 20px;
            background :rgba(0, 0, 0, .2)

        }
        .container
        {
            text-align: center;
            max-width: 300px;
            display:block;
            margin:300px auto;
        }
        #error{
            color: red;
        }
        body
        {
            background : url({{url_for('static', filename='mastermind.jpg')}});
            background-size :  cover;
        }
    </style>



    <meta charset="utf-8">
    <title>Hey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
</head>

<body>
        <div class="container">
            <form action="{{ url_for('inscription') }}" method="post" class="form">
                <h1 class="titre">Inscription</h1>
                <div>
                    <label for="username">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="username" placeholder="Username" id="username" required>
                </div>
                <div>
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                </div>
                <input size="50" type="submit" value="Valider" class="btn">
                <button onclick="window.location.href = '{{url_for('login')}}';" class="btn" type="button">
                    Se connecter
                </button>
            </form>
        <div>


    </div>

    <h1 id="error">{{msg}}</h1>



</body>

</html>