<!DOCTYPE html>
<html>
    <head>
        <style>
            
            </style>
        
        <meta charset="utf-8">
        <title>Règles du jeu</title>
        
        
        
    </head>
    <body>
        <p>Voici un exemple de paragraphe.</p>
<p>Et voici un deuxième paragraphe.</p>
        <img   src="{{url_for('static', filename='e.jpg')}}" alt="Italian Trulli">
        <p>Et voici un deuxième paragraphe.</p>

        
      

    </body>
</html>